<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="CIE_2_PROJECT.SiteMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SkillLink</title>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css"
        integrity="sha512-x9WwyMYBnlXMNQ6kQ/Lyzu1NqIhLQKL5Oq6xByfXuRj7s9CskyCbLv/1IjqzJmXwFXWr0ov6jBV7Qbc0hh9nHg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    <link rel="stylesheet" href="~/Content/Css/Site.css" runat="server" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>

<body>

    <form id="form1" runat="server">

        <header class="site-header">

            <div class="navbar">

                <a runat="server" href="~/Freelancer/FreelancerHome.aspx" class="brand">

                    <span class="brand-logo">S</span>

                    <span>SkillLink</span>

                </a>


                <nav class="nav-links">

                    <a runat="server" href="~/Freelancer/FreelancerHome.aspx" class="nav-link">

                        <i class="fa-solid fa-house nav-icon"></i>

                        <span>Home</span>

                    </a>


                    <a runat="server" href="~/Freelancer/FindProjects.aspx" class="nav-link">

                        <i class="fa-solid fa-magnifying-glass nav-icon"></i>

                        <span>Find Projects</span>

                    </a>


                    <a runat="server" href="~/Freelancer/MyProposals.aspx" class="nav-link">

                        <i class="fa-regular fa-circle-check nav-icon"></i>

                        <span>My Proposals</span>

                    </a>


                    <a href="#" class="nav-link">

                        <i class="fa-solid fa-briefcase nav-icon"></i>

                        <span>Active Work</span>

                    </a>

                </nav>


                <div class="nav-right">

                    <div class="notification">

                        <i class="fa-regular fa-bell"></i>

                        <span class="notification-badge">
                            3
                        </span>

                    </div>


                    <div class="message-icon">

                        <i class="fa-regular fa-envelope"></i>

                    </div>


                    <div class="profile-divider"></div>


                    <div class="profile">

                        <div class="profile-image">

                            <i class="fa-regular fa-user"></i>

                        </div>


                        <div class="profile-info">

                            <div class="profile-name">
                                xyz abc
                            </div>

                            <div class="profile-role">
                                Freelancer
                            </div>

                        </div>


                        <div class="profile-arrow">

                            <i class="fa-solid fa-chevron-down"></i>

                        </div>

                    </div>

                </div>

            </div>

        </header>


        <main class="main-content">

            <asp:ContentPlaceHolder
                ID="MainContent"
                runat="server">
            </asp:ContentPlaceHolder>

        </main>


        <footer class="site-footer">

            <div class="footer-content">

                <div class="footer-brand">
                    SkillLink
                </div>


                <div class="footer-links">

                    <a href="#" class="footer-link">
                        Privacy Policy
                    </a>

                    <a href="#" class="footer-link">
                        Terms of Service
                    </a>

                    <a href="#" class="footer-link">
                        Support Center
                    </a>

                    <a href="#" class="footer-link">
                        Community Guidelines
                    </a>

                </div>


                <div class="copyright">
                    &copy;2026 SkillLink Global. All rights reserved.
                </div>

            </div>

        </footer>

    </form>

</body>
</html>